@model WebApplication2.Models.mvcEmployeeModel

@{
    ViewBag.Title = "Index";
}

<br />
@if (TempData["SuccessInsert"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["SuccessInsert"]!</strong>
    </div>
}
else if (TempData["SuccessUpdate"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["SuccessUpdate"]!</strong>
    </div>
}
else if (TempData["SuccessDelete"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["SuccessDelete"]!</strong>
    </div>
}

<br />
<p>
    <a href="@Url.Action("AddOrEdit","Employee")" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EMPLOYEEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POSITION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SALARY)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tr>
        <td>
            @Model.EMPLOYEEID
        </td>
        <td>
            @Model.NAME
        </td>
        <td>
            @Model.POSITION
        </td>
        <td>
            @Model.AGE
        </td>
        <td>
            @Model.SALARY
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit", "Employee", new { id = Model.EMPLOYEEID })" class="btn btn-primary">Edit</a>
            <a href="@Url.Action("Delete", "Employee", new { id = Model.EMPLOYEEID })" class="btn btn-danger">Delete</a>
        </td>
    </tr>

</table>

